<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>   
    @Styles.Render("~/Content/bootstrap")
    
    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
      <script src="~/Scripts/respond.js"></script>
    <![endif]-->
</head>
<body ng-app="flockApp">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/underScorejs")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/JSApplication")
    @RenderSection("scripts", required: false)
</body>
</html>
